/* Sets the max width of the main article content */
.bd-main .bd-content .bd-article-container {
    max-width: 60%;
}

body {
    font-size: 1.2rem; /* Makes all text 20% larger than the default */
}

.bd-sidebar {
    font-size: 1.2rem; /* Slightly larger font for the main navigation */
}

.bd-toc-nav {
    font-size: 1.2rem; /* Slightly larger font for the Table of Contents */
}

.bd-toc,
.bd-toc li {
    font-size: 1.2rem; 
}

.bd-sidebar-secondary a.reference.internal {
    font-size: 1.1rem; 
}

/* Sets the max width of the entire content area (main content + sidebars) */
.bd-page-width {
    max-width: 70%; 
}

img[alt="Logo image"] {
    width: 100px;  
    height: auto;
}


div.nboutput.container div.output_area .highlight,
div.nboutput.container div.output_area pre {
    background-color: #080000; /* Background color of cell output */
    color: #07adee; /* Text color inside cell output */
}